/*
            EX1) Write a selector to target the h1 in jumbotron
            EX2) Write a selector to target every children of the navbar
            EX3) Write a selector to target the "continue reading..." inside the jumbotron
            EX4) Write a selector to target the first blogpost
            EX5) Write a selector to target the "even" links in the navbar
            EX6) Write a selector to target the last blog post
            EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives )
            EX8) Write a selector to target the second post author
            EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly
            EX10) Write a selector to target the footer
        */


.jumbotron h1{
    font-size: xx-small
}

/*EX2*/
nav>*{
    background-color: yellowgreen;
}
/*EX3*/
.jumbotron a{
    font-size: x-large;
}
/*EX4*/
.blog-post:first-of-type {
    background-color: greenyellow;
}
/*EX5*/
nav a:nth-child(even) {
    font-size: larger;
}
/*EX6*/
.blog-post:last-of-type {
    font-size: x-large;
}
/*EX7*/
.list-unstyled.mb-0>* {
    font-size: larger;
}
/*EX8*/
.second-post-author>a{
    background-color: yellowgreen;
}
/*EX9*/
.blog-footer p:nth-child(2) a {
    background-color: yellowgreen
}
/*EX10*/
footer{
    background-color: black;
    color: white
}
